# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Environment
.env
.venv/
venv/
venv311/

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# Byte-compiled
*.pyo
*.pyd

# Qdrant local files if used
qdrant_data/

# Other
*.sqlite3